// Importing Bootstrap Variables to Reuse

@import "bootstrap/functions";
@import "bootstrap/variables";

//Importing Utility Classes
@import "duodrawer/variables"; 

//Importing Sturctural Elements
@import "duodrawer/typography";
@import "duodrawer/structure";
@import "duodrawer/logos";
@import "highlights/colors";
@import "duodrawer/header-bar";
@import "duodrawer/footer-bar";
@import "duodrawer/menu";
@import "duodrawer/utilities";

//Importing Components
@import "components/buttons";
@import "components/icons";
@import "components/accordion";
@import "components/offline";
@import "components/ads";
@import "components/alerts";
@import "components/notifications";
@import "components/back-to-top";
@import "components/cards";
@import "components/chips";
@import "components/dividers";
@import "components/switches";
@import "components/checkradio";
@import "components/inputs";
@import "components/range";
@import "components/list-group";
@import "components/toasts";
@import "components/snackbars";
@import "components/pagination";
@import "components/search";
@import "components/tabs";
@import "components/working-hours";
@import "components/iframes";

//Importing Pages
@import "pages/map";

//Importing Dark Mode
//@import "duodrawer/_dark";

//Demo Aligns for Icons and Background Demo Images
//Can be deleted to save space
//@import "components/zdemo.scss";

//Importing Plugins
@import "components/a2hs";

//.debug {
//  border: 1px solid red;
//}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f0f00;
  background-image: url("../images/splash/android-chrome-192x192.png");
  background-size: 190%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  margin: auto;
  width: 80px;
  height: 80px;
}
p {
  color: white;
  text-align: center;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.hidden {
  display: none !important;
}

.city-select.active {
  background-color: $theme-dark-background;
  color: $theme-light-text;
}

.btn-categories {
  width: auto;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
}